## Add shared Environment Variables across jobs here ##
env:
  "CLUSTER_CONTEXT": "${{ inputs.CLUSTER_CONTEXT }}"
  "IDP": "${{ inputs.IDP }}"
  "NAMESPACE": "${{ inputs.NAMESPACE }}"  

  RUNTIME_ACTION: "apply"
  CONFIG_DIRECTORY: "./exercises/ex2/k8s/"
  PATH_TO_TFSCRIPT: "./exercises/ex2/k8s/"

"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"

    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"

    - "name": "Setup Kube Context - xp264-045"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |+
          "apiVersion": "v1"
          "clusters":
          - "cluster":
              "certificate-authority-data": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRYlRrbXdOZjZCdWVCbmsvNHIyUWdSVEFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRFd01qRXhNREEzTlRKYUZ3MHpOVEV3TWpFeE1EQTROVEphTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUErQ1k2Cks4M1A5dlkxdVNYSVp4dk40M29WNnlySzN0cnVhbVQxd1VtSUJLUHpzd2VndFZCZE5SbWRDSE5iWWtmZFFuMmcKbEdKU0JWNGx3a0dMcm04bkR6YjU2NlUxclRac1dWTzgyNTJNMEVXNW9QQTVVcTJOVTRZUnFEcks5QU5aN2xnbQplc1Vqb2NmZWtUMElWYlZJUWV3M2ZWQnZLN2tiWnN5cjlyVUZ3bVUreGJlc1VXZFNGNXFzWGdJZlcyUjVRb2RyCmFrVUkrSGpzMzZkTWZXY3p2ejhsZkxZR2ZTbjE4Z0NRNUYzMmZEK2psWmtFalNZV095aUJMS2dwOERac0JuQVcKMENuZjVoS2pvWDFwVXNqQU0wSWJ6SWpPWmdSOE15LzJJZG5QUUcvTGp0WlVCdGVBQy9LQnd3bU9DRDR1SVd4RQpxblRheU1LTmZvSGdpQm9qYVBSUnRqQ2o0U2ZqVHlSQkluL2lmYmVKeXZOZ2h3S0MrVzRIc2o1c0RvMG8rU25CClgzYy9pSFdWYWxkajNCajExSXRMV21RWm1PSXdJSktGK3VEWVpEaS9MNW1GOGhSVzZQRHRiR3ZodUtjOXJmZWgKdHJQb3pvVkk2enJRbVZUbUJaY0c4dG5HUnNnMmZPYmNiWnJNSlg3ZTVWTzh4VDc2RHp5M1lKU0NXMHVaQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCUXZpdytCZWIxVDBndE5tYlBzZyttMGhzQU9ZekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBaTFLa0JwK24KMFVSYkVlVzYvLy9ycFMra0d3clRJSk5vNDgzUm1ZSkFTV3NSOFVGZnJxVzZ5Z3VWcVB4alQzbkZ1MFNlUWRvdQoxT1F0RFIxTXFuNzRCOFJzcE1aU21hMkJOT1BjbEZRc3N4ai9kOWlLdzJDaldMZkJrbnFjdFBGOEwxRExHT2xPClBQaUNkNlI1SHZwb2c3clE2MFo3REJ0R08venRrM3YvMEtxUHlVRXJ2ZDVxUytsQWZ4eUM2ZGhEOFJlaWw5UTQKakFYQUpLaFhGc0lEZldvbHF1dk5FTnZaK1gvV0NTakRyNFhUZkd2TEQrYVExdVVlOExGZkgxVFM2cTg0Ly9xRQovWkxlWmoxNDVrYllDT2s4ZTRTQzJQdldxVXdYUm9TVUIzQWp4andxZS85RmFjTjhjYjY5djBoZWIwUkk3Qk9IClFJdlMxMTJqOSt4ODF4MFFENzZxK0loVHR3VWNnY1BuUWQzRUU5K1VUNml5Znd4cGNJL0xWMWh2S1cxQ0NGbzQKMmtTWWNNRng3WEdETmNYVG5McE9YUWR4d2dmcXZlZ1JCdkhFQm0xZVcyUUk5dExYQjA3MEc2ZkVTNkdXN3RtWQozdTdhb2NoRnp4dnQvZitrcjJVOHpoYzlpMUJrWW5RU0RyQ0ZRalN2dHFXdkZKT09IV3hWN0lsNQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
              "server": "https://api.b242c25.kyma.ondemand.com"
            "name": "garden-kyma--b242c25-external"
          "contexts":
          - "context":
              "cluster": "garden-kyma--b242c25-external"
              "user": "garden-kyma--b242c25-external"
            "name": "garden-kyma--b242c25-external"
          "current-context": "garden-kyma--b242c25-external"
          "kind": "Config"
          "users":
          - "name": "garden-kyma--b242c25-external"
            "user":
              "exec":
                "apiVersion": "client.authentication.k8s.io/v1"
                "args":
                - "-c"
                - |
                  set -e -o pipefail
                  OIDC_URL_WITH_AUDIENCE="$ACTIONS_ID_TOKEN_REQUEST_URL&audience=gh-teched-2ec5d15b-ab55-4352-ba58-e161ed0bc169"
                  IDTOKEN=$(curl -sS \
                    -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
                    -H "Accept: application/json; api-version=2.0" \
                    "$OIDC_URL_WITH_AUDIENCE" | jq -r .value)
                  # Print decoded token information for debugging purposes
                  echo ::debug:: JWT content: "$(echo "$IDTOKEN" | jq -c -R 'split(".") | .[1] | @base64d | fromjson')" >&2
                  EXP_TS=$(echo $IDTOKEN | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
                  EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
                  # return token back to the credential plugin
                  cat << EOF
                  {
                    "apiVersion": "client.authentication.k8s.io/v1",
                    "kind": "ExecCredential",
                    "status": {
                      "token": "$IDTOKEN",
                      "expirationTimestamp": "$EXP_DATE"
                    }
                  }
                  EOF
                "command": "bash"
                "interactiveMode": "Never"

        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |
        cp $KUBECONFIG ./xp264-045.yaml
        kubectl version
        kubectl config get-clusters
        kubectl config current-context

    - "name": "install kyma cli"
      uses: kyma-project/setup-kyma-cli@v1
      with:
        version: latest
    - "name": "use kyma cli"
      "run": |
         kyma -h
         kyma alpha -h
    - "name": "get cluster btp subaccount and global account."
      id: cluster_info
      "run": |
        echo "Diagnose cluster health and configuration...."

        kyma alpha diagnose -f json | jq -r '.metadata'
        DEEPLINK=$(kyma alpha diagnose -f json | jq -r '.metadata | { deeplink: ("https://emea.cockpit.btp.cloud.sap/cockpit?idp=${{ env.IDP }}#/globalaccount/" + .globalAccountID + "/subaccount/" + .subaccountID) } | .deeplink' )
        echo $DEEPLINK

        GLOBALACCOUNT=$(kyma alpha diagnose -f json | jq -r '.metadata.globalAccountID ' ) 
        echo $GLOBALACCOUNT

        echo "GLOBALACCOUNT=$GLOBALACCOUNT" >> $GITHUB_OUTPUT
        echo "DEEPLINK=$DEEPLINK" >> $GITHUB_OUTPUT


    - "name": "check for the hpa and keda scale objects"
      "run": |
        echo "display all pods in the namespace: $NAMESPACE..."
        kubectl get pod -n $NAMESPACE
        echo -e "display all hpas and scale objects in the namespace: $NAMESPACE..."
        kubectl get hpa -n $NAMESPACE || true
        echo "show KEDA-HPA"
        kubectl get hpa keda-hpa-faas-srv -n $NAMESPACE || true
        kubectl delete hpa faas-srv -n $NAMESPACE --ignore-not-found || true
        kubectl wait --for=delete hpa/faas-srv --timeout=90s

    - "name": "scale-out the faas-srv function to min 5 replicas"
      "run": |
        echo -e "KEAD CPU Trigger scale-up of function faas-srv in the namespace: $NAMESPACE..."
        
        cat <<EOF | kubectl apply -f -
        apiVersion: keda.sh/v1alpha1
        kind: ScaledObject
        metadata:
         name: faas-srv
         namespace: $NAMESPACE
        spec:
         scaleTargetRef:
           apiVersion:    serverless.kyma-project.io/v1alpha2
           kind:          Function
           name:          faas-srv
         minReplicaCount:  5
         maxReplicaCount:  10
         triggers:
         - type: cpu
           metricType: Utilization
           metadata:
             value: "50"
        EOF

        echo -e "show KEDA ScaleObject:\n"
        kubectl get scaledobject faas-srv -n $NAMESPACE || true
        kubectl get scaledobject  faas-srv -n $NAMESPACE -o jsonpath="{.status.conditions[0]}" | jq        
        echo -e "Wait until KEDA ScaleObject is ready\n"
        kubectl wait --for=jsonpath="{.status.conditions[0].status}"=True scaledobject faas-srv -n $NAMESPACE --timeout=90s
        echo -e "show KEDA ScaleObject\n"
        kubectl get scaledobject faas-srv -n $NAMESPACE || true
        
        echo -e "\nWait until KEDA-HPA is ready\n"
        kubectl get hpa keda-hpa-faas-srv -n $NAMESPACE || true
        kubectl wait --for=condition=ScalingActive hpa keda-hpa-faas-srv -n $NAMESPACE --timeout=90s
        echo "show KEDA-HPA"
        kubectl get hpa keda-hpa-faas-srv -n $NAMESPACE || true

        echo -e "\nwait for function scale out and deployment rollout complete\n"
        kubectl get function faas-srv -n $NAMESPACE -o jsonpath="{.status.conditions[1]}" | jq
        kubectl wait --for=jsonpath="{.status.conditions[1].status}"=True function faas-srv -n $NAMESPACE --timeout=180s
        echo "show KEDA-HPA"
        kubectl get hpa keda-hpa-faas-srv -n $NAMESPACE || true

        echo "enumerate all the resource in the namespace - this may take quite some time to run..."
        kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --show-kind --ignore-not-found -l app=faas-srv -n $NAMESPACE
        echo "enumerate all the resource in the namespace - this may take quite some time to run..."
        kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --show-kind --ignore-not-found -l app=faas-srv -n $NAMESPACE

        echo -e "\nshow KEDA ScaleObject\n"
        kubectl get scaledobject faas-srv -n $NAMESPACE || true

        echo -e "\nshow KEDA-HPA"
        kubectl get hpa keda-hpa-faas-srv -n $NAMESPACE || true

    - "name": "scale back to a single replica."
      "run": |
        kubectl delete scaledobject faas-srv -n $NAMESPACE || true
        kubectl wait --for=delete scaledobject/faas-srv --timeout=90s
        echo -e "KEAD CPU Trigger scale-down of function faas-srv in the namespace: $NAMESPACE..."
        
        cat <<EOF | kubectl apply -f -
        apiVersion: keda.sh/v1alpha1
        kind: ScaledObject
        metadata:
         name: faas-srv
         namespace: $NAMESPACE
        spec:
         scaleTargetRef:
           apiVersion:    serverless.kyma-project.io/v1alpha2
           kind:          Function
           name:          faas-srv
         minReplicaCount:  1
         maxReplicaCount:  1
         triggers:
         - type: cpu
           metricType: Utilization
           metadata:
             value: "50"
        EOF

        echo -e "show KEDA ScaleObject:\n"
        kubectl get scaledobject faas-srv -n $NAMESPACE || true
        kubectl get scaledobject faas-srv -n $NAMESPACE -o jsonpath="{.status.conditions[0]}" | jq        
        echo -e "Wait until KEDA ScaleObject is ready\n"
        kubectl wait --for=jsonpath="{.status.conditions[0].status}"=True scaledobject faas-srv -n $NAMESPACE --timeout=90s
        echo -e "show KEDA ScaleObject\n"
        kubectl get scaledobject faas-srv -n $NAMESPACE || true  

        echo -e "\nwait for function scale out and deployment rollout complete\n"
        kubectl get function faas-srv -n $NAMESPACE -o jsonpath="{.status.conditions[1]}" | jq
        kubectl wait --for=jsonpath="{.status.conditions[1].status}"=True function faas-srv -n $NAMESPACE --timeout=90s



    # GitHub Action reference: https://github.com/jupyterhub/action-k8s-namespace-report
#    - name: Kubernetes namespace report
#      uses: jupyterhub/action-k8s-namespace-report@v1
#      if: always()
#      with:
#       namespace: ${{ env.NAMESPACE }}

"name": "_k8s-keda-student"
"on":
  "workflow_call":
    "inputs":
      "IDP":
        "description": "platform idp"
        "required": true
        "type": "string"
      "CLUSTER_CONTEXT":
        "description": "cluster context"
        "required": true
        "type": "string"
      "NAMESPACE":
        "description": "students namespace"
        "required": true
        "type": "string"
"permissions":
  "contents": "read"
  "id-token": "write"
