"env":
  "NAMESPACE": "${{ inputs.NAMESPACE }}"
"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |+
          "apiVersion": "v1"
          "clusters":
          - "cluster":
              "certificate-authority-data": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRTDkzRW45WGtQd2d0YW1jYmsrK3VmVEFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRBNE1UVXhNakl3TkRkYUZ3MHpOVEE0TVRVeE1qSXhORGRhTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUFwWEg4ClJSQlFsSUVmbGpWWVRUemdoZ0Z5UURwTjlUTnpOL2RGeGxDWk1VUWthS1FTZFByWEtGTXR2QlRRa0lnb0VvOVYKdXBZNU9WTkNDT0h1T3UvMWZwRkVwS1ZHQUJ6c3ZsSFVpQjhUZ09hcVR4OXQ4UkxTRkRxaGF3anZBWVBTQ1U4ZgpoN3NpOEUyVzBqT0E0MVhJUG9zWXN4K1BSekFVQnNSZURQT2huU3R6amdXWVhJbDc3WTZMNk1mNk0vSlpNeFFnCkdlZDFhMGtJWDI5d3J0cWJ6bnB0WmZPSHhkN0tmT0xCM0JLZzNUckVsME52QjNOMFVLV1ZpaUwwSjZrcmpsRmIKbEh3RUJxejJ0UlFJR08remZhdE9KdXJmcklST04wR21LYWttVEFzalNqei9KMW9SeVJzTHZoT0w5c3VTT0UrSApMcDNmZXdWNmkrZGgvT0Erc2tMMXRBWWdFWTVwbGV4cXVXVklvbGV2OURsSDBsTWxpMUpEY3hyUUtTclZrRy9hClY3bThWTjg4SWNBWmMrVTQwMmZKYytDUlFvQzh0c1VjWnY2TDk1K2pvL0VLQTQ3ZVJXdEp5czdkaGlNd2QzMmoKalZsaEw0anFVdDVCQnlPbUEvbnc2Vk9qdnU2R0lUNzlsTjBBZzB4dDJKdmpQWDJpL0Z2U2NyNHgrMG1IQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCUkxtNTVDK1VvVG9sSit1UGFLdWxMTjVsT3VzekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBVjNtVXhVTkQKRDhkdHV3Mmk5UnFLMWRnZUVPK1JzRmdONnp5OWV4QjU3aHRDT0tMVXJZaHBXcVFsWUIzbktaZWJCMEo4b21hdwoyS0E1dGdrUUJNdW1zYkQwVEl3bUNpakNxU0J4TDJBZ2tKbXhnVExWbmdmeW14NURFdVIvaWw2SlJBUC9HZ2NvCndpSnlwSGtHRVFOdTZmRW1CbEZnVlQ3aFdENTVSSFdwSWJTOFhYd1JGTWlDa3E0NU1heVhGeGFBOUdVNFNhcmwKeDhsRXlTem1Ja0RTcm90V0pXM2lwVVZqM0IyR3BxandtdlFuL2Z4V2dadUdvVVd2NEp3Z2FYd2UzL3hOangvNQozMVlqTmZ1NllnejBHeUw4NEgwRlo4Ym5KWmszekNLcGd3L1JwZ2UxSFg1MVE5bnVkMW5SS1hwOThYZ0VnY1ExClJIeG5LU2ZqQUtPbVhmeFltQ1d0aHR6T1dZbldyTWllWWNqbFg1b2VML1h6NW80R2FPRWowUHJ6MWxFcFZvaGIKclU0bkRwV01xQ0xicTlYL3NJTFlGY2o4alduVUYxTUFmbWg4aUJJMEZqbnk3bGU3bkpRazJEd2c1MEY4eDNYUgpROGdKcE9od3NRSUJEOWtwWnNTN1liZU1LeEpHaWtLcGhMd0xQSUlTNmJzQ1BlejRTajFjcjk0cQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
              "server": "https://api.ca15e0c.kyma.ondemand.com"
            "name": "garden-kyma--ca15e0c-external"
          "contexts":
          - "context":
              "cluster": "garden-kyma--ca15e0c-external"
              "user": "garden-kyma--ca15e0c-external"
            "name": "garden-kyma--ca15e0c-external"
          "current-context": "garden-kyma--ca15e0c-external"
          "kind": "Config"
          "users":
          - "name": "garden-kyma--ca15e0c-external"
            "user":
              "exec":
                "apiVersion": "client.authentication.k8s.io/v1"
                "args":
                - "-c"
                - |
                  set -e -o pipefail
                  OIDC_URL_WITH_AUDIENCE="$ACTIONS_ID_TOKEN_REQUEST_URL&audience=gh-teched-${{ inputs.CLUSTER_GUID }}"
                  IDTOKEN=$(curl -sS \
                    -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
                    -H "Accept: application/json; api-version=2.0" \
                    "$OIDC_URL_WITH_AUDIENCE" | jq -r .value)
                  # Print decoded token information for debugging purposes
                  echo ::debug:: JWT content: "$(echo "$IDTOKEN" | jq -c -R 'split(".") | .[1] | @base64d | fromjson')" >&2
                  EXP_TS=$(echo $IDTOKEN | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
                  EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
                  # return token back to the credential plugin
                  cat << EOF
                  {
                    "apiVersion": "client.authentication.k8s.io/v1",
                    "kind": "ExecCredential",
                    "status": {
                      "token": "$IDTOKEN",
                      "expirationTimestamp": "$EXP_DATE"
                    }
                  }
                  EOF
                "command": "bash"
                "interactiveMode": "Never"

        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |
        echo "checking namespace $NAMESPACE permissions..."
        kubectl auth can-i --list --namespace $NAMESPACE
        kubectl auth can-i get gateways --namespace $NAMESPACE
        kubectl auth can-i create apirules --namespace $NAMESPACE
        echo "can access kyma-system gateway?"
        kubectl auth can-i get gateways -n kyma-system
        echo "can access all other gateways in the cluster?"
        kubectl auth can-i get gateways -A
        echo "display all gateways in the cluster"
        kubectl get gateways -A
        echo "display all pods and secrets in the namespace"
        kubectl get pod -n $NAMESPACE
        kubectl get secrets -n $NAMESPACE
    - "name": "check api-resources"
      "run": |
        kubectl api-resources -o wide -n $NAMESPACE
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName '
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis"))'
    - "name": "install kyma cli"
      uses: kyma-project/setup-kyma-cli@v1
      with:
        version: latest
    - "name": "use kyma cli"
      "run": |
         kyma -h
         kyma alpha -h
    - "name": "Diagnose cluster health and configuration."
      id: cluster_info
      "run": |
        echo "Diagnose cluster health and configuration...."

        kyma alpha diagnose -f json | jq -r '.metadata'
        #kyma alpha diagnose -f json | jq -r '.nodes'

        DEEPLINK=$(kyma alpha diagnose -f json | jq -r '.metadata | { deeplink: ("https://emea.cockpit.btp.cloud.sap/cockpit?idp=${{ env.IDP }}#/globalaccount/" + .globalAccountID + "/subaccount/" + .subaccountID) } | .deeplink' )
        echo $DEEPLINK


    - "id": "HTTPBIN_URL"
      "name": "kyma cli 3.2.0"
      "run": |
        kyma alpha kubeconfig generate --help

        echo "Generate kyma-cli-sa"
        TOKEN=$(kubectl create token $NAMESPACE-sa -n $NAMESPACE)
        kyma alpha kubeconfig generate --token $TOKEN  --namespace $NAMESPACE > $NAMESPACE-sa.yaml

        echo "List of pods with  kyma-cli-sa"
        cat ./$NAMESPACE-sa.yaml
        kubectl get pods -n $NAMESPACE --kubeconfig ./$NAMESPACE-sa.yaml

        echo "deploy a docker image and expose it via an API Rule v2"
        kubectl delete all -l app.kubernetes.io/name=httpbin-$NAMESPACE -n $NAMESPACE
        HOSTNAME=$(kyma app push --name httpbin-$NAMESPACE --image kennethreitz/httpbin --istio-inject true --expose --quiet --container-port 80 --namespace $NAMESPACE )
        HTTPBIN_URL=https://$HOSTNAME
        echo -e "$HTTPBIN_URL\n"

        echo -e "\nAdding APIRules to other custom domains\n"
        HOSTNAME=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("httpbin-\($namespace)")' )

        kubectl get apirules -ojson -n $NAMESPACE  | jq '.items[] '  | jq 'del(.metadata["annotations","labels","creationTimestamp","resourceVersion","uid", "selfLink", "ownerReferences", "generation"], .status)' |  jq --arg namespace "$NAMESPACE" '.metadata |= . + {"name": "httpbin-\($namespace)-01" }' | jq --arg hostname "$HOSTNAME" '.spec |= . + {"gateway": "aws-route53-dns/quovadis-aws-route53-dns-gateway", "hosts": ["\($hostname)"] } ' | kubectl apply -n $NAMESPACE -f -
        HTTPBIN_URL=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("https://httpbin-\($namespace)")' )
        echo -e "Additionally, httpbin-$NAMESPACE app has been made available under the custom domain at:\n$HTTPBIN_URL"
        echo "HTTPBIN_URL=$HTTPBIN_URL" >> $GITHUB_OUTPUT
"name": "_us-east--ca15e0c-teched25"
"on":
  "workflow_call":
    "inputs":
      "CLUSTER_GUID":
        "description": "cluster GUID"
        "required": true
        "type": "string"
      "NAMESPACE":
        "description": "students namespace"
        "required": true
        "type": "string"
"permissions":
  "contents": "read"
  "id-token": "write"
