"env":
  "NAMESPACE": "${{ inputs.NAMESPACE }}"
"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |+
          "apiVersion": "v1"
          "clusters":
          - "cluster":
              "certificate-authority-data": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1ekNDQWsrZ0F3SUJBZ0lSQUpjRnZWQ1hnbXljc3pDSHMwVVRzZ1V3RFFZSktvWklodmNOQVFFTEJRQXcKRFRFTE1Ba0dBMVVFQXhNQ1kyRXdIaGNOTWpVeE1EQTFNakF6T1RVMldoY05NelV4TURBMU1qQTBNRFUyV2pBTgpNUXN3Q1FZRFZRUURFd0pqWVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTEZ2CnY1S0dSNXJBakRmS1BlMGVVaG13K2hjNjFQb09xb0tocWJNNEYzZWpia29CU3pZL09BaHR1ZEdWUysreFhvTW4KUk5VYUNMV0VMbVhjN0x3UUZiYjBQTzIySlo4emRVNGJ5U0tZUWxvSVRodERHTGY1T1d1Uit4WXRaRzdWaTVhZApvSHN2ZisxRTRCdnA5SmhISmdySm1KdlVBRW84K1dwU2VwNHlJWTZLRFJMczR0V0w2bFlaTkw2RnFjNWJRYnMwCjFtRFNXcDJkRjV1c2k5SHJUcXRQMS9JU1JmSVN3dlRBYnh4OWVXU3BvYklmejJwQncvdnRIcEdQSTV2ZnVaMUQKeTdoTVdkNnFLVWQrZmRVWXV4L1dQMS91YStvY1VqUXZYeFIyeERlSjF3TlVCczViV043citHT1BpNGFvVmh0cQpmOEc2MFdsZ2lUM1gyZ2ZCN3BkbWFQZHl5N3NFZkcwTmdsejdBYXlwZG4vV2VxZitIcFUrRmFSZjZPdXlmSENXCkMyNWluM0hDeko3Wmp3Y0dsVVpwOGQ1VHVITVVNT28yQndoRG5sWGRsVnZTamN4Mk9tTVZoUW5xM2xhWXdtZXEKVURXcldON3dqUE5hUXl5NVBmQUJ2ZGorKzBVVUpndWt3dDRaNENpaVR6aG8wS3hpTytrN0xycC9iSSszUFFJRApBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQWFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVVwMWxMbDBRY1U4aGJoeGZCVEd3Ylo4YXV2Y3N3RFFZSktvWklodmNOQVFFTEJRQURnZ0dCQUVlOG5MN3AKRGhiSUJVN3Y1ZWRTTVcvV3NDL3pOaFA0SC83LytVc2t2c1BEYWJDZjJpNW9SWW5uOU95NkRQcjhqc0wrVTJ0bQovRGpKcVROZWxrRi9BV0NISk93Zk8yVUgwRm1zejJZc3ZJeTA0Q05DSnUwTHlWRFRYYlI4Mm1WZjI5MDZJR0UwCmVlS1JuZVhQOWpmZ1NhWklVMjhvK0RmTHJ1V3JEME9tbHQ2U1ZMSHdxU3VjR2xBN1FJWjI2eFJWS1RZM2tkZXAKVnpheVRLTFpiZzZQVjFJUUwzUjlrWjNNQWRwL0l6L05YMlZJSStYZnU4clh3ZXJGS3VuN3ZIT3g1NU9abWxPVwpxcWhQMHFzdGhwQUNjSXpsWEx1RFFFUEtlVGNick1WQk9CSEhheVhGNTl5V3NjbStJL1o4OHNpc3dYdXF6VmdVCk1XaEhDQUM2TFk3UkkyQWt3a1RobFMvRy81UnpOTFI5UkFmMitwRGhpeXNwT2JhbzRTVGxuRmhPL3hPMXBPSTgKUFo2VGRiY2tIMmk2cmJYTXVkTmkrdmtac2lWaHFhTFpNZ3NvVmlaaTZlTzNSRENuOUVLaTBBUmlSdnUzRlExZQp6RmdhazNwY3kwZitDSU5aNitZVmZxdHM3eUZ4NkVQaXQyVTZGbC9QbWlCNUc5SVgvdUNMZVFMNStnPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
              "server": "https://api.c-4d2de7e.kyma.ondemand.com"
            "name": "garden-kyma--c-4d2de7e-external"
          "contexts":
          - "context":
              "cluster": "garden-kyma--c-4d2de7e-external"
              "user": "garden-kyma--c-4d2de7e-external"
            "name": "garden-kyma--c-4d2de7e-external"
          "current-context": "garden-kyma--c-4d2de7e-external"
          "kind": "Config"
          "users":
          - "name": "garden-kyma--c-4d2de7e-external"
            "user":
              "exec":
                "apiVersion": "client.authentication.k8s.io/v1"
                "args":
                - "-c"
                - |
                  set -e -o pipefail
                  OIDC_URL_WITH_AUDIENCE="$ACTIONS_ID_TOKEN_REQUEST_URL&audience=gh-teched-${{ inputs.CLUSTER_GUID }}"
                  IDTOKEN=$(curl -sS \
                    -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
                    -H "Accept: application/json; api-version=2.0" \
                    "$OIDC_URL_WITH_AUDIENCE" | jq -r .value)
                  # Print decoded token information for debugging purposes
                  echo ::debug:: JWT content: "$(echo "$IDTOKEN" | jq -c -R 'split(".") | .[1] | @base64d | fromjson')" >&2
                  EXP_TS=$(echo $IDTOKEN | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
                  EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
                  # return token back to the credential plugin
                  cat << EOF
                  {
                    "apiVersion": "client.authentication.k8s.io/v1",
                    "kind": "ExecCredential",
                    "status": {
                      "token": "$IDTOKEN",
                      "expirationTimestamp": "$EXP_DATE"
                    }
                  }
                  EOF
                "command": "bash"
                "interactiveMode": "Never"

        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |
        echo "checking namespace $NAMESPACE permissions..."
        kubectl auth can-i --list --namespace $NAMESPACE
        kubectl auth can-i get gateways --namespace $NAMESPACE
        kubectl auth can-i create apirules --namespace $NAMESPACE
        echo "can access kyma-system gateway?"
        kubectl auth can-i get gateways -n kyma-system
        echo "can access all other gateways in the cluster?"
        kubectl auth can-i get gateways -A
        echo "display all gateways in the cluster"
        kubectl get gateways -A
        echo "display all pods and secrets in the namespace"
        kubectl get pod -n $NAMESPACE
        kubectl get secrets -n $NAMESPACE
    - "name": "check api-resources"
      "run": |
        kubectl api-resources -o wide -n $NAMESPACE
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName '
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis"))'
    - "id": "HTTPBIN_URL"
      "name": "kyma cli 3.2.0"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.2.0/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        ./kyma alpha kubeconfig generate --help

        echo "Generate kyma-cli-sa"
        TOKEN=$(kubectl create token $NAMESPACE-sa -n $NAMESPACE)
        ./kyma alpha kubeconfig generate --token $TOKEN  --namespace $NAMESPACE > $NAMESPACE-sa.yaml

        echo "List of pods with  kyma-cli-sa"
        cat ./$NAMESPACE-sa.yaml
        kubectl get pods -n $NAMESPACE --kubeconfig ./$NAMESPACE-sa.yaml

        echo "deploy a docker image and expose it via an API Rule v2"
        kubectl delete all -l app.kubernetes.io/name=httpbin-$NAMESPACE -n $NAMESPACE
        HOSTNAME=$(./kyma app push --name httpbin-$NAMESPACE --image kennethreitz/httpbin --istio-inject true --expose --quiet --container-port 80 --namespace $NAMESPACE )
        HTTPBIN_URL=https://$HOSTNAME
        echo -e "$HTTPBIN_URL\n"

        echo -e "\nAdding APIRules to other custom domains\n"
        HOSTNAME=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("httpbin-\($namespace)")' )

        kubectl get apirules -ojson -n $NAMESPACE  | jq '.items[] '  | jq 'del(.metadata["annotations","labels","creationTimestamp","resourceVersion","uid", "selfLink", "ownerReferences", "generation"], .status)' |  jq --arg namespace "$NAMESPACE" '.metadata |= . + {"name": "httpbin-\($namespace)-01" }' | jq --arg hostname "$HOSTNAME" '.spec |= . + {"gateway": "aws-route53-dns/quovadis-aws-route53-dns-gateway", "hosts": ["\($hostname)"] } ' | kubectl apply -n $NAMESPACE -f -
        HTTPBIN_URL=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("https://httpbin-\($namespace)")' )
        echo -e "Additionally, httpbin-$NAMESPACE app has been made available under the custom domain at:\n$HTTPBIN_URL"
        echo "HTTPBIN_URL=$HTTPBIN_URL" >> $GITHUB_OUTPUT
"name": "_xp264-000--c-4d2de7e-teched25"
"on":
  "workflow_call":
    "inputs":
      "CLUSTER_GUID":
        "description": "cluster GUID"
        "required": true
        "type": "string"
      "NAMESPACE":
        "description": "students namespace"
        "required": true
        "type": "string"
"permissions":
  "contents": "read"
  "id-token": "write"
