# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#calling-a-reusable-workflow
# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#using-a-matrix-strategy-with-a-reusable-workflow
# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#using-outputs-from-a-reusable-workflow
# https://stackoverflow.com/questions/59757355/reuse-portion-of-github-action-across-jobs
name: Deploy all namespaces on all clusters

on:
  workflow_dispatch:

permissions: 
  contents: read
  id-token: write

jobs:
  deploy-all-namespaces:
    strategy:
      max-parallel: 2
      matrix:
        namespace: [xp264-001, xp264-002, xp264-003, xp264-004, xp264-005, xp264-006, xp264-007, xp264-008, xp264-009, xp264-010, xp264-011, xp264-012 ]
        cluster: [ 622af3fe-a2f5-4fdd-a05f-73e343aec2a5, 2a6fe480-ac84-4751-ad37-56ec2a493932, 7a69075f-7faf-4604-a62e-806648791dba, dbe7346b-88da-430a-8777-4f6aa3e22b5e ]
    uses: ./.github/workflows/_xp264-000-teched-622af3fe-a2f5-4fdd-a05f-73e343aec2a5-xp264.yml
    with:
      NAMESPACE: ${{ matrix.namespace }}
      CLUSTER_GUID: ${{ matrix.cluster }}