# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#calling-a-reusable-workflow
# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#using-a-matrix-strategy-with-a-reusable-workflow
# https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#using-outputs-from-a-reusable-workflow
#
name: Deploy all namespaces

on:
  workflow_dispatch:

permissions: 
  contents: read
  id-token: write

jobs:
  deploy-all-namespaces:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        namespace: [xp264-001, xp264-002]
    - uses: ./.github/workflows/reuse.yml
      with:
        NAMESPACE: ${{ matrix.namespace }}
    #secrets: inherit