"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1ekNDQWsrZ0F3SUJBZ0lSQU9DemdDNWw0TmRHNUhxSi9ieTJnRGd3RFFZSktvWklodmNOQVFFTEJRQXcKRFRFTE1Ba0dBMVVFQXhNQ1kyRXdIaGNOTWpVd09USXpNakV3TmpNd1doY05NelV3T1RJek1qRXdOek13V2pBTgpNUXN3Q1FZRFZRUURFd0pqWVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTGl2Cmp2Mkt3RklIckRGbC9pQlBFOGVxUDVsZ2dEdHJ3bUtHUFQyTVNEaTBDWnhjUVFwbVpseUs1ZlREQzVrUmdQYVMKUmZJN2hSMVNCVW5BMmN6ZUxJU0NlTTAwMnI3ZVJyZ0FIUUlYWi85SkR2aDM2OFhJSDdXazdVY1F6TU9DbW13ZwpmNDBLYVNRUGVSN1hmNnhlTGc5SFVGQnNNZ1dDcE1EYmZ2dnE1d2VDdVRnS0d2eTZlVlVQaXBoTGIyMTFpbURFCk5xS1N2RW1JeThPUTdBUWozVzdsNVJvbTFSSVBQUWVHaXBnQ3NaVE1oT2JnYStPYVNzS1pFZlBWQnltWjI1UE0KOW5Nd0RnT25mSzJnMlA3bzQvdEFRdjg3MWU0am5nTUdPVjhncmVoVGdCN3VnVzFsdkRXNTBOU3RDQmxLMjlRTwpwVHdCbXh3R1lMU1VyU0hBWFhoUUNUS1IrcmV3VEJSM3hIMk5uaGl4dFNXdkFOUXAzZDNocjVnSE1ZQVN5M3VvCjRYdFZTRStvTnlyRVV1RGhicVJmK3hyRzlSdndidHNWZkNrMlNKYTEwdGN1R1VaQ1BJc2VXTG9nYzRXRHE3M3cKRDhENUQ3Y1BoYjBrZ1UzbmhWTHphaGhCelUwOWM1LzVnRUNYVC9pQk0wcmZBRytTNUkyQ1g0ZkRvTHFaVHdJRApBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQWFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVVrQ1VaZjE1RFY4ZkNmUDFMNVhBWXFEa29JY013RFFZSktvWklodmNOQVFFTEJRQURnZ0dCQURxNnRrcm0KblhJU1lvbVhwR1lSRFBrS2x4RVptVVRPQnpCL1lFNXVxMkdVclNwVDdKRkFuZmkrKzhmZDRCaGZPM2pMdmsyZApmL1ExL0dKT1g2aVVTMGJIUnlrNFo0SHZUN1l0bkJ6NkVlWFBBWGMyMmZpUjY3b0ZsdXFoUmRsOXhGdUFaWTlJCnFCem1ZNmVOdXJKcStBL3VLZG1xakFXNTRhTXhZWGtERWFFaEszYVV4Ukx1RkMrdjFEQ2RCbWdGNnJTUnQxZHMKTUtJM1ZzTFRxTG1hU0ZQdURad3lYTDNsY0xtL2F5UWFMNlQ5V25QT1o4MWJBejdwMVBRU004RVZYS1o1UjV2RQpKWUFGWUw4MWN3ZEEwWW4wak5JdHA4ZDNpMm9wenMzMkk2K2F4Sjh0Q1I5amZhTXh2M3p6Z0RxZTJvQ0NQTGZ4Cm04dks3TFFGbXI4SU1GL0kycDhTYVNCeVlpYkI0OVNaQ1hvU3hJYTZqaEFTaEFUZzkvSENReXZ5WkhGUEtwbjEKdVorQzMrVWd3YkhkbXJBYjRQaGNJSHJuclE3T3VJMlc0VUt5TEZvTzNTL3k1eVU5RE9XZmZ6dU1KMXRmaDNjWQplTmNZa1B4R0svUnFpN0h4VUtwWFM5emJIM2pqeWg4aTltRE9xZ1NmTFdKcldUZVBYMndUT3l1UHNRPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=","server":"https://api.c-99567a9.kyma.ondemand.com"},"name":"garden-kyma--c-99567a9-external"}],"contexts":[{"context":{"cluster":"garden-kyma--c-99567a9-external","user":"garden-kyma--c-99567a9-external"},"name":"garden-kyma--c-99567a9-external"}],"current-context":"garden-kyma--c-99567a9-external","kind":"Config","users":[{"name":"garden-kyma--c-99567a9-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-2a6fe480-ac84-4751-ad37-56ec2a493932\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |
        kubectl auth can-i --list --namespace quovadis-btp
        kubectl get nodes
        kubectl get pod -A
        kubectl get -n kyma-system kymas default -o json | jq '.spec.modules[] '
        kubectl get cm/shoot-info -n kube-system -o json | jq .data
        kubectl get openidconnect
        kubectl get cm/kyma-provisioning-info -n kyma-system -ojsonpath='{.data.details}'
    - "name": "kyma cli 3.0.1"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.0.1/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma alpha --help
        echo "List of modules"
        ./kyma alpha module list
        ./kyma alpha kubeconfig generate --serviceaccount kyma-cli-sa --clusterrole cluster-admin --namespace default --permanent > kyma-cli-sa.yaml

        echo "List of modules with  kyma-cli-sa"
        ./kyma alpha module list --kubeconfig ./kyma-cli-sa.yaml
        echo "deploy a docker image and expose it via an API Rule v2"

        kubectl delete all -l app.kubernetes.io/name=httpbin-app
        ./kyma alpha app push --name httpbin-app --image kennethreitz/httpbin --istio-inject true --expose --container-port 80
    - "name": "kyma cli 3.1.0"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.1.0/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        echo "List of modules"
        ./kyma module list
        ./kyma alpha kubeconfig generate --serviceaccount kyma-cli-sa --clusterrole cluster-admin --namespace default --permanent > kyma-cli-sa.yaml

        echo "List of modules with  kyma-cli-sa"
        ./kyma module list --kubeconfig ./kyma-cli-sa.yaml
        echo "deploy a docker image and expose it via an API Rule v2"

        kubectl delete all -l app.kubernetes.io/name=httpbin-app
        ./kyma app push --name httpbin-app --image kennethreitz/httpbin --istio-inject true --expose --container-port 80
        kubectl delete all -l app.kubernetes.io/name=httpbin-app -n xp264-000
        ./kyma app push --name httpbin-app --image kennethreitz/httpbin --istio-inject true --expose --container-port 80 --namespace xp264-000
    - "name": "Community Modules Support"
      "run": |
        echo "discover/add available community-driven modules..."

        ./kyma module catalog
    - "name": "kyma-oidc-0 (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kyma-oidc-0 --output=./kymacanary-oidc.yaml

        cat ./kymacanary-oidc.yaml
    - "name": "kymacanary-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymacanary-oidc --output=./kymacanary-oidc.yaml

        cat ./kymacanary-oidc.yaml
    - "name": "kymaprod-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymaprod-oidc --output=./kymaprod-oidc.yaml

        cat ./kymaprod-oidc.yaml
"name": "japan-east-2a6fe480-ac84-4751-ad37-56ec2a493932"
"on":
  "workflow_dispatch": null
"permissions":
  "id-token": "write"
