on:
  workflow_dispatch:
    inputs:
      ACTION:
        description: "manage subscription"
        required: true
        default: "subscribe"
        type: "choice"
        options:
          - "subscribe"
          - "unsubscribe"

      subaccount_name:
        description: "consumer tenant name prefix"
        required: true
        default: "xp264-000"
        type: "choice"
        options:
          - "xp264-000"
          - "xp264-001"
          - "xp264-002"
          - "xp264-003"
          - "xp264-004"
          - "xp264-005"
          - "xp264-006"
          - "xp264-007"
          - "xp264-008"
          - "xp264-009"
          - "xp264-010"
          - "xp264-011"
          - "xp264-012"
          - "xp264-013"
          - "xp264-014"
          - "xp264-015"
          - "xp264-016"
          - "xp264-017"
          - "xp264-018"
          - "xp264-019"
          - "xp264-020"
          - "xp264-021"
          - "xp264-022"
          - "xp264-023"
          - "xp264-024"
          - "xp264-025"
          - "xp264-026"
          - "xp264-027"
          - "xp264-028"
          - "xp264-029"
          - "xp264-030"
          - "xp264-031"
          - "xp264-032"
          - "xp264-033"
          - "xp264-034"
          - "xp264-035"
          - "xp264-036"
          - "xp264-037"
          - "xp264-038"
          - "xp264-039"
          - "xp264-040"
          - "xp264-041"
          - "xp264-042"
          - "xp264-043"
          - "xp264-044"
          - "xp264-045"
          - "xp264-046"
          - "xp264-047"
          - "xp264-048"
          - "xp264-049"
          - "xp264-050"

## Add shared Environment Variables across jobs here ##
env:
  RUNTIME_ACTION: ${{ inputs.ACTION == 'subscribe' && 'apply' || inputs.ACTION == 'unsubscribe' && 'destroy' || inputs.ACTION }}
  GLOBALACCOUNT: "c1f19148-71f7-4883-9f86-8d5ee7634dec"
  IDP: "anuk8cmfw.accounts.ondemand.com"

  CONFIG_DIRECTORY: "./exercises/ex1/k8s-mt-data/"
  PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-mt-data/"  

"jobs":
  "subscribe-manifest":

    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"

    - name: Get short-lived GitHub-issued JWT
      id: get-github-jwt
      run: |
        githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://${{ env.IDP }}" | jq -r '.value')

        EXP_TS=$(echo $githubJwt | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
        echo $EXP_TS
        EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
        echo $EXP_DATE

        echo $githubJwt | jq -R 'split(".") | .[0],.[1] | @base64d | fromjson'
        echo "githubJwt=$githubJwt" >> $GITHUB_OUTPUT
          
    - name: Setup Terraform
      id : setup_terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
        terraform_version: latest

    - name: Terraform Init
      id: terraform_init
      shell: bash
      run: |
        wget -qO- https://ipecho.net/plain ; echo

        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        export KUBE_CONFIG_PATH=$KUBECONFIG

        terraform workspace select -or-create ${{ env.RUNTIME_WORKSPACE }} || echo "Workspace ${{ env.RUNTIME_WORKSPACE }} already exists or cannot be created"

        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} init -upgrade -no-color
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

      env:
        RUNTIME_CONTEXT_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 

    - name: Terraform Apply 
      id: terraform_apply
      shell: bash
      run: |
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export KUBE_CONFIG_PATH=$KUBECONFIG

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        export BTP_GLOBAL_ACCOUNT=${{env.GLOBALACCOUNT}}
  
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} ${{ env.RUNTIME_ACTION }} \
        -var BTP_GLOBAL_ACCOUNT=${{env.GLOBALACCOUNT}} \
        -var BTP_CUSTOM_IDP=${{ env.IDP }} \
        -var BTP_SUBACCOUNT=${{ github.event.inputs.subaccount_name }} \
        -auto-approve -no-color

      env:
        RUNTIME_CONTEXT_WORKSPACE: "runtime-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 

    # https://stackoverflow.com/questions/69925970/how-to-save-terraform-output-variable-into-a-github-action-s-environment-variabl
    - name: Terraform Output # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#steps-context
      id: terraform_output
      shell: bash
      run: |
        terraform workspace select ${{ env.RUNTIME_WORKSPACE }}
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export KUBE_CONFIG_PATH=$KUBECONFIG

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        #terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} state list
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output

      env:
        RUNTIME_CONTEXT_WORKSPACE: "runtime-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        RUNTIME_WORKSPACE: "mt-context-${{ inputs.subaccount_name }}-${{env.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{env.GLOBALACCOUNT}}" 

"name": "teched-xp264-mt-data"

"permissions":
  "contents": "read"
  "id-token": "write"
