"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRQnBmaHN3SmppckNMRlNoQ05UM0h5ekFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRFd01ESXdOalF6TUROYUZ3MHpOVEV3TURJd05qUTBNRE5hTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUF1N2d3ClBMbmFSY2k4bVZXWWdSYmNveHBNN1FybTVPQ0pUYy9xYVRNaHRqVUt2TDYyYnFPWmFBQURNaDMxVjlTbmc2S1UKUkFwdzR5ODlselNsdUh1SGZySEVmVGtXT3E4dDBqb2M1eW4raFVEeTZTbE9ZVlJ5RmY5UlZMOHV2MnRFOURkZQpHUk9CTFdXRXIwbkM2VzYwYTdUUENFeVJvQzIyU3M2cDNzZVBDaVJlVWdENk11ck8yeWxPQzFGSU9JdFZ4anlkCkFWb3hJaXlwa3l0RGw0MkRINkQwczgydW91VzZ2SVpkbWxZcW44YlMrbUZ2QkYvMGlIZC92UEdaMmo5MTcrc2QKQ1BrckF5enkxd1Y0TTRtZ1JJZ3ZMVG1PRDZyemRvOHJWRkFhUktRd3luMGplcjhhUnVzekFJejFxUDNzSlkxSAo0SlpmRzBxQUFHM2V0RkExc2Z1eWk5ZEpSZFNvZ0V6QnQzYUFWRUZKcEJlWHlncTB1K1phVkY2dWQvaDFYMmlVCjhFV1BxVDN5aHgveFZOaVpQaGRpczQyMXZPRDU0Q1RSS0JsMEVwODh6UXJkV3hGR0oxODRzcE0rZkkyc0twWTMKbURNZXkyd0ZadXR5UU10M0VqSlRsWkFWRVVPc1JIcnZZV0N0ZzF5OURITXRmb29xeXpZZ0R5UWdHTTdoQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCU0RtSHkxWkM2TjhjUWp4SjdDY2djcGxqbkZoakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBSnkxYzBHZGcKVC9WTTBicExSbzUxYnVZUHZqMGFlenpKYWUweS9lMy8vVUptTmNBOCtIb2xhaFZhOXUxVE5GYzAxK1UwR1dLNQpJVUZFNWExdjVCdWlMOGJBRzhyV0JkeVJ3QkJJelRQVTdvRm9EblZuU1FOTXVYSVNUdTE0QS84NzVkK1crM0FYCnhLand6U0RHc0U0Wmp4Zy9vVnJDNDJZU3pFcW5ISkNpTGNsVWFzM1lzNWVTWjFQNEhvcTRhcjE0U05pK20xejkKVzNLb3R3Ly9PUU95dFJGcVhBc2ZrTkVMQ25rV2RONG1FWEdOVVJpZjdDTjJ4L05LQm9yU0dWa0ZtNjd1WWJqSgoxcDhHZTIwK3ZJZEdvR1d3Q2lLendLM0hiUHpVbS9FbDZLZVVzMVdIL0o1TFRZelNJU3Q1eldyZkl6amtSY1E2CkQ1OTdWN2NBQVlDL3dWWC9wdkdWeG1DR3J1aVY5QTRjTzhYNlVFaVZaUE1ubW5wUE9XVW1KV29PSklqYkFJakIKWGNkaWpHU1RtYzBDUmxIYjUxSGdYUkhNRCs0RXhyQzV0VFQ1NVF4R1l2SHZ4SzFCUDFsbDVhU1JHdHMyd1FoMAprbzN3eW4wUSt2OUhWMzRmVXZTc1doZ0NRdTdmcHl3WUVLQzBUNWdVYlNCQWRPeTA0TDkyemY3VwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==","server":"https://api.b84edf3.kyma.ondemand.com"},"name":"garden-kyma--b84edf3-external"}],"contexts":[{"context":{"cluster":"garden-kyma--b84edf3-external","user":"garden-kyma--b84edf3-external"},"name":"garden-kyma--b84edf3-external"}],"current-context":"garden-kyma--b84edf3-external","kind":"Config","users":[{"name":"garden-kyma--b84edf3-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-76f46b5b-d9ab-486f-8e4f-12e1163af943\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
        "method": "kubeconfig"
    - "name": "Deploy JupyterHub"
      "run": |
        helm repo add jupyterhub https://jupyterhub.github.io/helm-chart/
        helm repo update
        helm show values jupyterhub/jupyterhub > values.yaml
        cat ./values.yaml
        helm uninstall -n jupyter quovadis-jupyter --ignore-not-found
        helm upgrade --cleanup-on-fail --install quovadis-jupyter jupyterhub/jupyterhub --namespace jupyter --create-namespace --values values.yaml
    - "name": "check permissions"
      "run": |
        kubectl auth can-i --list --namespace quovadis-btp
        kubectl get nodes
        kubectl get pod -A
        kubectl get -n kyma-system kymas default -o json | jq '.spec.modules[] '
        kubectl get cm/shoot-info -n kube-system -o json | jq .data
        kubectl get openidconnect
        kubectl get cm/kyma-provisioning-info -n kyma-system -ojsonpath='{.data.details}'
    - "name": "kyma cli 3.1.2"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.1.2/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        echo "List of modules"
        ./kyma module list
        ./kyma alpha kubeconfig generate --serviceaccount kyma-cli-sa --clusterrole cluster-admin --namespace default --permanent > kyma-cli-sa.yaml

        echo "List of modules with  kyma-cli-sa"
        ./kyma module list --kubeconfig ./kyma-cli-sa.yaml
        echo "deploy a docker image and expose it via an API Rule v2"

        kubectl delete all -l app.kubernetes.io/name=httpbin-app
        ./kyma app push --name httpbin-app --image kennethreitz/httpbin --istio-inject true --expose --container-port 80
    - "name": "kyma cli 3.2.0"
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.2.0/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        echo "List of modules"
        ./kyma module list
        ./kyma alpha kubeconfig generate --serviceaccount kyma-cli-sa --clusterrole cluster-admin --namespace default --permanent > kyma-cli-sa.yaml

        echo "List of modules with  kyma-cli-sa"
        ./kyma module list --kubeconfig ./kyma-cli-sa.yaml
        echo "deploy a docker image and expose it via an API Rule v2"

        kubectl delete all -l app.kubernetes.io/name=httpbin-app
        ./kyma app push --name httpbin-app --image kennethreitz/httpbin --istio-inject true --expose --container-port 80
    - "name": "Community Modules Support"
      "run": |
        echo "discover/add available community-driven modules..."

        ./kyma module catalog
    - "name": "kyma-oidc-0 (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kyma-oidc-0 --output=./kymacanary-oidc.yaml

        cat ./kymacanary-oidc.yaml
    - "name": "kymacanary-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymacanary-oidc --output=./kymacanary-oidc.yaml

        cat ./kymacanary-oidc.yaml
    - "name": "kymaprod-oidc (https://dashboard.kyma.cloud.sap/cluster)"
      "run": |
        echo "generate kubeconfig files..."

        ./kyma alpha kubeconfig generate --oidc-name kymaprod-oidc --output=./kymaprod-oidc.yaml

        cat ./kymaprod-oidc.yaml
"name": "uk-xp264-76f46b5b-d9ab-486f-8e4f-12e1163af943"
"on":
  "workflow_dispatch": null
"permissions":
  "contents": "read"
  "id-token": "write"
