on:
  workflow_dispatch:
    inputs:
      ACTION:
        description: "setup/destroy k8s context"
        required: true
        default: "apply"
        type: "choice"
        options:
          - "apply"
          - "destroy"
      IDP:
        description: "platform idp"
        required: true
        default: "anuk8cmfw.accounts.ondemand.com"
        type: "choice"
        options:
          - "anuk8cmfw.accounts.ondemand.com"

      subaccount_name:
        description: "subaccount (region) name prefix"
        required: true
        default: "xp264-000"
        type: "choice"
        options:
          - "xp264-000"
          - "uk-south"
          - "japanese-east"
          - "us-east"
          - "uk-xp264"

#      runtime_context_index:
#        description: "runtime_context_index"
#        required: true
#        default: "xp264-000"   


## Add shared Environment Variables across jobs here ##
env:
  RUNTIME_ACTION: ${{ inputs.ACTION == 'deploy' && 'apply' || inputs.ACTION }}

  CONFIG_DIRECTORY: "./exercises/ex1/k8s-data/"
  PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-data/"  

  CLUSTER_CONFIG: |
      "${{ inputs.subaccount_name == 'uk-xp264' && '0'
      || inputs.subaccount_name == 'uk-south' && '1' 
      || inputs.subaccount_name == 'xp264-000' && '2'
      || inputs.subaccount_name == 'japanese-east' && '3'
      || inputs.subaccount_name == 'us-east' && '4'
      }}"


  ## Additional env variables
  ## https://developer.hashicorp.com/terraform/cli/config/environment-variables
  # TF_LOG: DEBUG ## Helpful for troubleshooting
  # TF_MAX_TIMEOUT: "30m" ## If you wish to override the default "1h" 

"jobs":
  "apply-manifest":
#    strategy:
#      matrix:
#        cluster_config: >

    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"

    - name: Get short-lived GitHub-issued JWT
      id: get-github-jwt
      run: |
        #githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://${{ github.event.inputs.IDP }}" | jq -r '.')
        #echo $githubJwt | base64
        githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://${{ github.event.inputs.IDP }}" | jq -r '.value')

        EXP_TS=$(echo $githubJwt | jq -R 'split(".") | .[1] | @base64d | fromjson | .exp')
        echo $EXP_TS
        EXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)
        echo $EXP_DATE

        echo $githubJwt | jq -R 'split(".") | .[0],.[1] | @base64d | fromjson'
        echo "githubJwt=$githubJwt" >> $GITHUB_OUTPUT

    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context - xp264-000"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1ekNDQWsrZ0F3SUJBZ0lSQUpjRnZWQ1hnbXljc3pDSHMwVVRzZ1V3RFFZSktvWklodmNOQVFFTEJRQXcKRFRFTE1Ba0dBMVVFQXhNQ1kyRXdIaGNOTWpVeE1EQTFNakF6T1RVMldoY05NelV4TURBMU1qQTBNRFUyV2pBTgpNUXN3Q1FZRFZRUURFd0pqWVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTEZ2CnY1S0dSNXJBakRmS1BlMGVVaG13K2hjNjFQb09xb0tocWJNNEYzZWpia29CU3pZL09BaHR1ZEdWUysreFhvTW4KUk5VYUNMV0VMbVhjN0x3UUZiYjBQTzIySlo4emRVNGJ5U0tZUWxvSVRodERHTGY1T1d1Uit4WXRaRzdWaTVhZApvSHN2ZisxRTRCdnA5SmhISmdySm1KdlVBRW84K1dwU2VwNHlJWTZLRFJMczR0V0w2bFlaTkw2RnFjNWJRYnMwCjFtRFNXcDJkRjV1c2k5SHJUcXRQMS9JU1JmSVN3dlRBYnh4OWVXU3BvYklmejJwQncvdnRIcEdQSTV2ZnVaMUQKeTdoTVdkNnFLVWQrZmRVWXV4L1dQMS91YStvY1VqUXZYeFIyeERlSjF3TlVCczViV043citHT1BpNGFvVmh0cQpmOEc2MFdsZ2lUM1gyZ2ZCN3BkbWFQZHl5N3NFZkcwTmdsejdBYXlwZG4vV2VxZitIcFUrRmFSZjZPdXlmSENXCkMyNWluM0hDeko3Wmp3Y0dsVVpwOGQ1VHVITVVNT28yQndoRG5sWGRsVnZTamN4Mk9tTVZoUW5xM2xhWXdtZXEKVURXcldON3dqUE5hUXl5NVBmQUJ2ZGorKzBVVUpndWt3dDRaNENpaVR6aG8wS3hpTytrN0xycC9iSSszUFFJRApBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQWFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVVwMWxMbDBRY1U4aGJoeGZCVEd3Ylo4YXV2Y3N3RFFZSktvWklodmNOQVFFTEJRQURnZ0dCQUVlOG5MN3AKRGhiSUJVN3Y1ZWRTTVcvV3NDL3pOaFA0SC83LytVc2t2c1BEYWJDZjJpNW9SWW5uOU95NkRQcjhqc0wrVTJ0bQovRGpKcVROZWxrRi9BV0NISk93Zk8yVUgwRm1zejJZc3ZJeTA0Q05DSnUwTHlWRFRYYlI4Mm1WZjI5MDZJR0UwCmVlS1JuZVhQOWpmZ1NhWklVMjhvK0RmTHJ1V3JEME9tbHQ2U1ZMSHdxU3VjR2xBN1FJWjI2eFJWS1RZM2tkZXAKVnpheVRLTFpiZzZQVjFJUUwzUjlrWjNNQWRwL0l6L05YMlZJSStYZnU4clh3ZXJGS3VuN3ZIT3g1NU9abWxPVwpxcWhQMHFzdGhwQUNjSXpsWEx1RFFFUEtlVGNick1WQk9CSEhheVhGNTl5V3NjbStJL1o4OHNpc3dYdXF6VmdVCk1XaEhDQUM2TFk3UkkyQWt3a1RobFMvRy81UnpOTFI5UkFmMitwRGhpeXNwT2JhbzRTVGxuRmhPL3hPMXBPSTgKUFo2VGRiY2tIMmk2cmJYTXVkTmkrdmtac2lWaHFhTFpNZ3NvVmlaaTZlTzNSRENuOUVLaTBBUmlSdnUzRlExZQp6RmdhazNwY3kwZitDSU5aNitZVmZxdHM3eUZ4NkVQaXQyVTZGbC9QbWlCNUc5SVgvdUNMZVFMNStnPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=","server":"https://api.c-4d2de7e.kyma.ondemand.com"},"name":"garden-kyma--c-4d2de7e-external"}],"contexts":[{"context":{"cluster":"garden-kyma--c-4d2de7e-external","user":"garden-kyma--c-4d2de7e-external"},"name":"garden-kyma--c-4d2de7e-external"}],"current-context":"garden-kyma--c-4d2de7e-external","kind":"Config","users":[{"name":"garden-kyma--c-4d2de7e-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-622af3fe-a2f5-4fdd-a05f-73e343aec2a5\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
                    
        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |

        #echo $KUBECONFIG
        #cat  $KUBECONFIG
        ls -al $KUBECONFIG


        kubectl version
        kubectl config view
        kubectl config get-clusters
        cp $KUBECONFIG ./xp264-000.yaml

    - "name": "Setup Kube Context - uk-xp264"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1akNDQWs2Z0F3SUJBZ0lRQnBmaHN3SmppckNMRlNoQ05UM0h5ekFOQmdrcWhraUc5dzBCQVFzRkFEQU4KTVFzd0NRWURWUVFERXdKallUQWVGdzB5TlRFd01ESXdOalF6TUROYUZ3MHpOVEV3TURJd05qUTBNRE5hTUEweApDekFKQmdOVkJBTVRBbU5oTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUF1N2d3ClBMbmFSY2k4bVZXWWdSYmNveHBNN1FybTVPQ0pUYy9xYVRNaHRqVUt2TDYyYnFPWmFBQURNaDMxVjlTbmc2S1UKUkFwdzR5ODlselNsdUh1SGZySEVmVGtXT3E4dDBqb2M1eW4raFVEeTZTbE9ZVlJ5RmY5UlZMOHV2MnRFOURkZQpHUk9CTFdXRXIwbkM2VzYwYTdUUENFeVJvQzIyU3M2cDNzZVBDaVJlVWdENk11ck8yeWxPQzFGSU9JdFZ4anlkCkFWb3hJaXlwa3l0RGw0MkRINkQwczgydW91VzZ2SVpkbWxZcW44YlMrbUZ2QkYvMGlIZC92UEdaMmo5MTcrc2QKQ1BrckF5enkxd1Y0TTRtZ1JJZ3ZMVG1PRDZyemRvOHJWRkFhUktRd3luMGplcjhhUnVzekFJejFxUDNzSlkxSAo0SlpmRzBxQUFHM2V0RkExc2Z1eWk5ZEpSZFNvZ0V6QnQzYUFWRUZKcEJlWHlncTB1K1phVkY2dWQvaDFYMmlVCjhFV1BxVDN5aHgveFZOaVpQaGRpczQyMXZPRDU0Q1RSS0JsMEVwODh6UXJkV3hGR0oxODRzcE0rZkkyc0twWTMKbURNZXkyd0ZadXR5UU10M0VqSlRsWkFWRVVPc1JIcnZZV0N0ZzF5OURITXRmb29xeXpZZ0R5UWdHTTdoQWdNQgpBQUdqUWpCQU1BNEdBMVVkRHdFQi93UUVBd0lCcGpBUEJnTlZIUk1CQWY4RUJUQURBUUgvTUIwR0ExVWREZ1FXCkJCU0RtSHkxWkM2TjhjUWp4SjdDY2djcGxqbkZoakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBWUVBSnkxYzBHZGcKVC9WTTBicExSbzUxYnVZUHZqMGFlenpKYWUweS9lMy8vVUptTmNBOCtIb2xhaFZhOXUxVE5GYzAxK1UwR1dLNQpJVUZFNWExdjVCdWlMOGJBRzhyV0JkeVJ3QkJJelRQVTdvRm9EblZuU1FOTXVYSVNUdTE0QS84NzVkK1crM0FYCnhLand6U0RHc0U0Wmp4Zy9vVnJDNDJZU3pFcW5ISkNpTGNsVWFzM1lzNWVTWjFQNEhvcTRhcjE0U05pK20xejkKVzNLb3R3Ly9PUU95dFJGcVhBc2ZrTkVMQ25rV2RONG1FWEdOVVJpZjdDTjJ4L05LQm9yU0dWa0ZtNjd1WWJqSgoxcDhHZTIwK3ZJZEdvR1d3Q2lLendLM0hiUHpVbS9FbDZLZVVzMVdIL0o1TFRZelNJU3Q1eldyZkl6amtSY1E2CkQ1OTdWN2NBQVlDL3dWWC9wdkdWeG1DR3J1aVY5QTRjTzhYNlVFaVZaUE1ubW5wUE9XVW1KV29PSklqYkFJakIKWGNkaWpHU1RtYzBDUmxIYjUxSGdYUkhNRCs0RXhyQzV0VFQ1NVF4R1l2SHZ4SzFCUDFsbDVhU1JHdHMyd1FoMAprbzN3eW4wUSt2OUhWMzRmVXZTc1doZ0NRdTdmcHl3WUVLQzBUNWdVYlNCQWRPeTA0TDkyemY3VwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==","server":"https://api.b84edf3.kyma.ondemand.com"},"name":"garden-kyma--b84edf3-external"}],"contexts":[{"context":{"cluster":"garden-kyma--b84edf3-external","user":"garden-kyma--b84edf3-external"},"name":"garden-kyma--b84edf3-external"}],"current-context":"garden-kyma--b84edf3-external","kind":"Config","users":[{"name":"garden-kyma--b84edf3-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-76f46b5b-d9ab-486f-8e4f-12e1163af943\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
        "method": "kubeconfig"


    - "name": "check permissions"
      "run": |

        #echo $KUBECONFIG
        #cat  $KUBECONFIG
        ls -al $KUBECONFIG


        kubectl version
        kubectl config view
        kubectl config get-clusters
        cp $KUBECONFIG ./uk-xp264.yaml
        export TOTO=$KUBECONFIG
        echo $TOTO

        export KUBECONFIG=:./uk-xp264.yaml:./xp264-000.yaml
        kubectl config view --flatten > all-in-one-kubeconfig.yaml
        export KUBECONFIG=$TOTO
        echo $KUBECONFIG

        cp ./all-in-one-kubeconfig.yaml $KUBECONFIG
        cat $KUBECONFIG

        # https://able8.medium.com/how-to-merge-multiple-kubeconfig-files-into-one-36fc987c2e2f
        kubectl config get-clusters #--kubeconfig all-in-one-kubeconfig.yaml
        kubectl config get-contexts #--kubeconfig all-in-one-kubeconfig.yaml

        kubectl config use-context garden-kyma--c-4d2de7e-external #--kubeconfig all-in-one-kubeconfig.yaml
        kubectl config current-context #--kubeconfig all-in-one-kubeconfig.yaml

    - "name": "install kyma cli"
      uses: kyma-project/setup-kyma-cli@v1
      with:
        version: latest
    - "name": "use kyma cli"
      "run": |
         kyma -h
         kyma alpha -h
    - "name": "Diagnose cluster health and configuration."
      id: cluster_info
      "run": |
        echo "Diagnose cluster health and configuration...."

        kyma alpha diagnose -f json | jq -r '.metadata'
        #kyma alpha diagnose -f json | jq -r '.nodes'

        DEEPLINK=$(kyma alpha diagnose -f json | jq -r '.metadata | { deeplink: ("https://emea.cockpit.btp.cloud.sap/cockpit?idp=anuk8cmfw.accounts.ondemand.com#/globalaccount/" + .globalAccountID + "/subaccount/" + .subaccountID) } | .deeplink' )
        echo $DEEPLINK

        DEEPLINK2=$(kyma alpha diagnose -f json | jq -r '.metadata | { deeplink: ("https://emea.cockpit.btp.cloud.sap/cockpit/#/globalaccount/" + .globalAccountID + "/subaccount/" + .subaccountID) } | .deeplink' )
        echo $DEEPLINK2

        GLOBALACCOUNT=$(kyma alpha diagnose -f json | jq -r '.metadata.globalAccountID ' ) 
        echo $GLOBALACCOUNT

        echo "GLOBALACCOUNT=$GLOBALACCOUNT" >> $GITHUB_OUTPUT
          
    - name: Setup Terraform
      id : setup_terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
        terraform_version: latest ## "1.9.8"

    - name: Terraform Init
      id: terraform_init
      shell: bash
      run: |
        wget -qO- https://ipecho.net/plain ; echo


        export KUBE_CONFIG_PATH=$KUBECONFIG

        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s
        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}

        echo ${{ secrets.CICD_TOKEN_FOR_TF_MODULES }} | base64
        echo ${{secrets.CICD_TOKEN_FOR_TF_MODULES}} | sed 's/./& /g'
        echo "machine github.com login ${{ env.CICD_REPO_USERNAME_FOR_TF_MODULES }} password ${{ env.CICD_TOKEN_FOR_TF_MODULES }}" > ~/.netrc
        cat ~/.netrc
        git config --global url.https://github.com/.insteadOf git://github.com/
        git config --global advice.detachedHead false

        terraform workspace select -or-create ${{ env.RUNTIME_WORKSPACE }} || echo "Workspace ${{ env.RUNTIME_WORKSPACE }} already exists or cannot be created"

        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} init -upgrade -no-color
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

      env:
        CICD_TOKEN_FOR_TF_MODULES: ${{ secrets.CICD_TOKEN_FOR_TF_MODULES }}
        CICD_REPO_USERNAME_FOR_TF_MODULES: ${{ vars.CICD_REPO_USERNAME_FOR_TF_MODULES }}

        RUNTIME_CONTEXT_WORKSPACE: "runtime-context-${{ inputs.subaccount_name }}-${{steps.cluster_info.outputs.GLOBALACCOUNT}}"
        RUNTIME_WORKSPACE: "k8s-context-${{ inputs.subaccount_name }}-${{steps.cluster_info.outputs.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{steps.cluster_info.outputs.GLOBALACCOUNT}}" 

    - name: Terraform Apply 
      id: terraform_apply
      shell: bash
      run: |
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export KUBE_CONFIG_PATH=$KUBECONFIG
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export TF_REGISTRY_CLIENT_TIMEOUT=30s

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        export BTP_GLOBAL_ACCOUNT=${{steps.cluster_info.outputs.GLOBALACCOUNT}}

        export TF_VAR_runtime_context_workspace=${{ env.RUNTIME_CONTEXT_WORKSPACE }}
  
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} ${{ env.RUNTIME_ACTION }} \
        -var BTP_GLOBAL_ACCOUNT=${{steps.cluster_info.outputs.GLOBALACCOUNT}} \
        -var BTP_CUSTOM_IDP=${{ github.event.inputs.IDP }} \
        -var BTP_SUBACCOUNT=${{ github.event.inputs.subaccount_name }} \
        -var POSTGRES_ALLOW_ACCESS=${{ vars.POSTGRES_ALLOW_ACCESS }} \
        -auto-approve -no-color

      env:
        RUNTIME_CONTEXT_WORKSPACE: "runtime-context-${{ inputs.subaccount_name }}-${{steps.cluster_info.outputs.GLOBALACCOUNT}}"
        RUNTIME_WORKSPACE: "k8s-context-${{ inputs.subaccount_name }}-${{steps.cluster_info.outputs.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{steps.cluster_info.outputs.GLOBALACCOUNT}}" 

    # https://stackoverflow.com/questions/69925970/how-to-save-terraform-output-variable-into-a-github-action-s-environment-variabl
    - name: Terraform Output # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#steps-context
      id: terraform_output
      shell: bash
      run: |
        terraform workspace select ${{ env.RUNTIME_WORKSPACE }}
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} state list
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output

        kubeconfig_sa=$(terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output -raw kubeconfig-sa)
        kyma_provisioning_info=$(terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output -json kyma_provisioning_info)
        echo $kyma_provisioning_info

        echo "kyma_provisioning_info=$kyma_provisioning_info" >> $GITHUB_OUTPUT

      env:
        RUNTIME_CONTEXT_WORKSPACE: "runtime-context-${{ inputs.subaccount_name }}-${{steps.cluster_info.outputs.GLOBALACCOUNT}}"
        RUNTIME_WORKSPACE: "k8s-context-${{ inputs.subaccount_name }}-${{steps.cluster_info.outputs.GLOBALACCOUNT}}"
        PROVIDER_WORKSPACE: "provider-context-${{steps.cluster_info.outputs.GLOBALACCOUNT}}" 


    - name: Terraform Results
      id: terraform_results
      shell: bash
      run: |

        echo "kyma_provisioning_info"
        echo ${{ steps.terraform_output.outputs.kyma_provisioning_info }}

"name": "xp264-000-k8s-data-context-teched"

"permissions":
  "contents": "read"
  "id-token": "write"
