on:
  workflow_dispatch:
    inputs:
      ACTION:
        description: "setup/destroy k8s context"
        required: true
        default: "apply"
        type: "choice"
        options:
          - "apply"
          - "destroy"
      GLOBALACCOUNT:
        description: "teched globalaccount subdomain"
        required: true
        default: "c1f19148-71f7-4883-9f86-8d5ee7634dec"
        type: "choice"
        options:
          - "c1f19148-71f7-4883-9f86-8d5ee7634dec"

      IDP:
        description: "idp"
        required: true
        default: "anuk8cmfw.accounts.ondemand.com"
        type: "choice"
        options:
          - "anuk8cmfw.accounts.ondemand.com"

      subaccount_name:
        description: "subaccount name prefix"
        required: false
        default: "xp264-000"

      runtime_context_index:
        description: "runtime_context_index"
        required: true
        default: "xp264-000"   


## Add shared Environment Variables across jobs here ##
env:
  RUNTIME_ACTION: ${{ inputs.ACTION == 'deploy' && 'apply' || inputs.ACTION }}

  RUNTIME_CONTEXT_WORKSPACE: "runtime-context-${{ inputs.runtime_context_index }}-${{ github.event.inputs.GLOBALACCOUNT }}"
  RUNTIME_WORKSPACE: "k8s-context-${{ inputs.runtime_context_index }}-${{ github.event.inputs.GLOBALACCOUNT }}"
  PROVIDER_WORKSPACE: "provider-context-${{ github.event.inputs.GLOBALACCOUNT }}" 

  CONFIG_DIRECTORY: "./exercises/ex1/k8s-data/"
  PATH_TO_TFSCRIPT: "./exercises/ex1/k8s-data/"

  GITHUB_OWNER: "ptesny"
  ## Additional env variables
  # TF_LOG: DEBUG ## Helpful for troubleshooting
  # TF_MAX_TIMEOUT: "30m" ## If you wish to override the default "1h"
##        githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://${{ github.event.inputs.IDP }}" | jq -r '.value')
##        githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=gh-teched-7a69075f-7faf-4604-a62e-806648791dba" | jq -r '.value')
 

"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"

    - name: Get short-lived GitHub-issued JWT
      id: get-github-jwt
      run: |
        githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://${{ github.event.inputs.IDP }}" | jq -r '.')
        echo $githubJwt | base64
        githubJwt=$(curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" -H "Accept: application/json; api-version=2.0" -H "Content-Type: application/json" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://${{ github.event.inputs.IDP }}" | jq -r '.value')
        echo $githubJwt | jq -R 'split(".") | .[0],.[1] | @base64d | fromjson'
        echo "githubJwt=$githubJwt" >> $GITHUB_OUTPUT

    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1ekNDQWsrZ0F3SUJBZ0lSQUpjRnZWQ1hnbXljc3pDSHMwVVRzZ1V3RFFZSktvWklodmNOQVFFTEJRQXcKRFRFTE1Ba0dBMVVFQXhNQ1kyRXdIaGNOTWpVeE1EQTFNakF6T1RVMldoY05NelV4TURBMU1qQTBNRFUyV2pBTgpNUXN3Q1FZRFZRUURFd0pqWVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTEZ2CnY1S0dSNXJBakRmS1BlMGVVaG13K2hjNjFQb09xb0tocWJNNEYzZWpia29CU3pZL09BaHR1ZEdWUysreFhvTW4KUk5VYUNMV0VMbVhjN0x3UUZiYjBQTzIySlo4emRVNGJ5U0tZUWxvSVRodERHTGY1T1d1Uit4WXRaRzdWaTVhZApvSHN2ZisxRTRCdnA5SmhISmdySm1KdlVBRW84K1dwU2VwNHlJWTZLRFJMczR0V0w2bFlaTkw2RnFjNWJRYnMwCjFtRFNXcDJkRjV1c2k5SHJUcXRQMS9JU1JmSVN3dlRBYnh4OWVXU3BvYklmejJwQncvdnRIcEdQSTV2ZnVaMUQKeTdoTVdkNnFLVWQrZmRVWXV4L1dQMS91YStvY1VqUXZYeFIyeERlSjF3TlVCczViV043citHT1BpNGFvVmh0cQpmOEc2MFdsZ2lUM1gyZ2ZCN3BkbWFQZHl5N3NFZkcwTmdsejdBYXlwZG4vV2VxZitIcFUrRmFSZjZPdXlmSENXCkMyNWluM0hDeko3Wmp3Y0dsVVpwOGQ1VHVITVVNT28yQndoRG5sWGRsVnZTamN4Mk9tTVZoUW5xM2xhWXdtZXEKVURXcldON3dqUE5hUXl5NVBmQUJ2ZGorKzBVVUpndWt3dDRaNENpaVR6aG8wS3hpTytrN0xycC9iSSszUFFJRApBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQWFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVVwMWxMbDBRY1U4aGJoeGZCVEd3Ylo4YXV2Y3N3RFFZSktvWklodmNOQVFFTEJRQURnZ0dCQUVlOG5MN3AKRGhiSUJVN3Y1ZWRTTVcvV3NDL3pOaFA0SC83LytVc2t2c1BEYWJDZjJpNW9SWW5uOU95NkRQcjhqc0wrVTJ0bQovRGpKcVROZWxrRi9BV0NISk93Zk8yVUgwRm1zejJZc3ZJeTA0Q05DSnUwTHlWRFRYYlI4Mm1WZjI5MDZJR0UwCmVlS1JuZVhQOWpmZ1NhWklVMjhvK0RmTHJ1V3JEME9tbHQ2U1ZMSHdxU3VjR2xBN1FJWjI2eFJWS1RZM2tkZXAKVnpheVRLTFpiZzZQVjFJUUwzUjlrWjNNQWRwL0l6L05YMlZJSStYZnU4clh3ZXJGS3VuN3ZIT3g1NU9abWxPVwpxcWhQMHFzdGhwQUNjSXpsWEx1RFFFUEtlVGNick1WQk9CSEhheVhGNTl5V3NjbStJL1o4OHNpc3dYdXF6VmdVCk1XaEhDQUM2TFk3UkkyQWt3a1RobFMvRy81UnpOTFI5UkFmMitwRGhpeXNwT2JhbzRTVGxuRmhPL3hPMXBPSTgKUFo2VGRiY2tIMmk2cmJYTXVkTmkrdmtac2lWaHFhTFpNZ3NvVmlaaTZlTzNSRENuOUVLaTBBUmlSdnUzRlExZQp6RmdhazNwY3kwZitDSU5aNitZVmZxdHM3eUZ4NkVQaXQyVTZGbC9QbWlCNUc5SVgvdUNMZVFMNStnPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=","server":"https://api.c-4d2de7e.kyma.ondemand.com"},"name":"garden-kyma--c-4d2de7e-external"}],"contexts":[{"context":{"cluster":"garden-kyma--c-4d2de7e-external","user":"garden-kyma--c-4d2de7e-external"},"name":"garden-kyma--c-4d2de7e-external"}],"current-context":"garden-kyma--c-4d2de7e-external","kind":"Config","users":[{"name":"garden-kyma--c-4d2de7e-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-622af3fe-a2f5-4fdd-a05f-73e343aec2a5\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |

        #echo $KUBECONFIG
        ls -al $KUBECONFIG
        #cat  $KUBECONFIG

        kubectl version
        kubectl config view
      
    - name: Setup Terraform
      id : setup_terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_wrapper: false
        terraform_version: latest ## "1.9.8"

    - name: Terraform Init
      id: terraform_init
      shell: bash
      run: |
        wget -qO- https://ipecho.net/plain ; echo

        ##cp btp-context/argocdaas-eu10.yaml ${{ env.PATH_TO_TFSCRIPT }}
        echo ${{ secrets.ARGOCDAAS_EU10_BASE64 }} | base64 -d > ${{ env.PATH_TO_TFSCRIPT }}argocdaas-eu10.yaml
        cat ${{ env.PATH_TO_TFSCRIPT }}argocdaas-eu10.yaml
        export KUBE_CONFIG_PATH=$KUBECONFIG

        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}
        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}

        echo ${{ secrets.CICD_TOKEN_FOR_TF_MODULES }} | base64
        echo ${{secrets.CICD_TOKEN_FOR_TF_MODULES}} | sed 's/./& /g'
        echo "machine github.com login ${{ env.CICD_REPO_USERNAME_FOR_TF_MODULES }} password ${{ env.CICD_TOKEN_FOR_TF_MODULES }}" > ~/.netrc
        cat ~/.netrc
        git config --global url.https://github.com/.insteadOf git://github.com/
        git config --global advice.detachedHead false

        terraform workspace select -or-create ${{ env.RUNTIME_WORKSPACE }} || echo "Workspace ${{ env.RUNTIME_WORKSPACE }} already exists or cannot be created"

        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} init -upgrade -no-color
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

      env:
        CICD_TOKEN_FOR_TF_MODULES: ${{ secrets.CICD_TOKEN_FOR_TF_MODULES }}
        CICD_REPO_USERNAME_FOR_TF_MODULES: ${{ vars.CICD_REPO_USERNAME_FOR_TF_MODULES }}

    - name: Terraform Apply 
      id: terraform_apply
      shell: bash
      run: |
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}
        export KUBE_CONFIG_PATH=$KUBECONFIG
        export CONFIG_DIRECTORY=${{ env.CONFIG_DIRECTORY }}

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}

        export TF_VAR_runtime_context_workspace=${{ env.RUNTIME_CONTEXT_WORKSPACE }}
  
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} ${{ env.RUNTIME_ACTION }} \
        -var BTP_GLOBAL_ACCOUNT=${{ github.event.inputs.GLOBALACCOUNT }} \
        -var BTP_CUSTOM_IDP=${{ github.event.inputs.IDP }} \
        -var BTP_SUBACCOUNT=${{ github.event.inputs.subaccount_name }} \
        -var POSTGRES_ALLOW_ACCESS=${{ vars.POSTGRES_ALLOW_ACCESS }} \
        -auto-approve -no-color

    # https://stackoverflow.com/questions/69925970/how-to-save-terraform-output-variable-into-a-github-action-s-environment-variabl
    - name: Terraform Output # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#steps-context
      id: terraform_output
      shell: bash
      run: |
        terraform workspace select ${{ env.RUNTIME_WORKSPACE }}
        export TF_WORKSPACE=${{ env.RUNTIME_WORKSPACE }}

        export BTP_ASSERTION=${{steps.get-github-jwt.outputs.githubJwt}}
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} state list
        terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output

        kubeconfig_sa=$(terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output -raw kubeconfig-sa)
        kyma_provisioning_info=$(terraform -chdir=${{ env.PATH_TO_TFSCRIPT }} output -json kyma_provisioning_info)
        echo $kyma_provisioning_info

        #echo "kubeconfig_sa=$kubeconfig_sa" >> $GITHUB_OUTPUT
        echo "kyma_provisioning_info=$kyma_provisioning_info" >> $GITHUB_OUTPUT

    - name: Terraform Results
      id: terraform_results
      shell: bash
      run: |

        echo "kubeconfig-sa"
        echo ${{ steps.terraform_output.outputs.config_sa }} 
        echo "kyma_provisioning_info"
        echo ${{ steps.terraform_output.outputs.provisioning_info }}

"name": "xp264-000-k8s-data-context-teched"

"permissions":
  "contents": "read"
  "id-token": "write"
