"env":
  "NAMESPACE": "${{ github.event.inputs.NAMESPACE }}"
"jobs":
  "apply-manifest":
    "runs-on":
    - "ubuntu-latest"
    "steps":
    - "name": "Check out Git repository"
      "uses": "actions/checkout@v4"
    - "name": "Install Helm"
      "uses": "azure/setup-helm@v4"
    - "name": "Setup Kube Context"
      "uses": "azure/k8s-set-context@v4"
      "with":
        "kubeconfig": |
          {"apiVersion":"v1","clusters":[{"cluster":{"certificate-authority-data":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUQ1ekNDQWsrZ0F3SUJBZ0lSQU01WE0vSkE4bXdxY1BiUlJyc3Foamt3RFFZSktvWklodmNOQVFFTEJRQXcKRFRFTE1Ba0dBMVVFQXhNQ1kyRXdIaGNOTWpVeE1ERTFNVFEwTlRVd1doY05NelV4TURFMU1UUTBOalV3V2pBTgpNUXN3Q1FZRFZRUURFd0pqWVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBS3FhCmtXc0JGSE5JbmhMa0k5MUtMOXFWS0h6OEZiVmlUVTJiMktyMnF2UXpkOHlNSENKekczaWRFOS9ac3RNZWpOaDAKdmFPN1NTNmptTkJRYis1ZFFrcVgxMW1CSDJRZzRTSXpEMUttWWRxSStZeGJRdjdVNFJVdGdmdTR0a1ZCdTFUZgpjQnM0VkFOTjFENkJxT2t6VFppVmlrNFVHNlNxSUJNZWJxR05GOHdrdWpsbWpmV05jZGEyN3R5cnorK0ttWFVrClN5bkpXOWI5cnpCVENCK3Nhd3JpVVIwSlVsR3ZrOTFlQ0dSelBJV1FrUUQyYy9JcFlBRE0rcGt3dnBiNHpXK1MKdFY3d0cwbzFXK2crRXBiMFoxcHZyQ05CZDNOSVBkU0VnWXl3UE1SQlJxWUdWS29nZ2l0bnRCcGR3QkoxLzBxTAowa2JqbGRYYysvOFd4K3pwMnkxeDZ6STFURFdoUGRXQlI2TVRKYTBmTWdZQXl3VWhadTZrcFRVQ0dXb3JyMXJwCkJtSURTeWNGRVhPaWowOExVM21jYUQ3MFZob3pidmo5bFJxU0owdlNsNVh5THFiTC9UTWk0UmxzSktDV1M0cU8KNmtpWkhhaFBXZE5FZWc5cjA0Skx6SmV5RXRqTGEvS0d4OVBielplcjZsdmUvM1VRSXJ0R3o5Q3NnYWdrdHdJRApBUUFCbzBJd1FEQU9CZ05WSFE4QkFmOEVCQU1DQWFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFCkZnUVUzZzlnUUh4aWZsbFpCRU0vZ1BHVjg2SFhFRGd3RFFZSktvWklodmNOQVFFTEJRQURnZ0dCQUJTUWh3YmgKNUVYeFhXVmd6dEJmWEpCSlBSL0xKTkQxVzFZZFJMN2RabHZDTlR4WDZKTUV6aDhtakdxL1A5RDVJc056eXpIdQpYSzh5RzRyZzBSRWFwRUFvTi9hQllSUkhzelYwejNtNFhqdEdTOUp0MW1ML2JKanpNMEFnUjVtb3lpMFQwcmpWCnN6RWYvK09OR0dvaEVvMlh1VW1zT2FMcFMxL0hWcWUxcWo4RU9JaTJCZFExMnZINnJ1bXBkMWlWWms4alorOTkKYXVZakhEVmcycmdwcUdOL05ib05PN1RKWmwzUDdyQ29rRy9Va1JRQU5lU1BPOEl6U0oyRjhnOXV2VUR4Z3dTOApOTmp3MmhhVXg5Z0JGOVJhYkd0cEhzcTBCYnZhT3QwZGNleXA3UW92Sk45QkVPZjU0dUwxMG1POUluWW9tTFRhCkw3cDJSdTVuYmlkcXppODRZOXVFd2YxYmk1Y05LVE1GRVh1NURvVjZKZWlIenp1YWt5b2dORzBxbHg5QitCYVIKb1huelFSeEkwNCtVNVdQZVpNdlFxMFdBZXpna2tpZkZTWVhOYkE5YWZNeHgzSFk1ZkJpV1FxaTUxbjQ1a2tlZwpoTXNONFMvd2pXbkxlMjlQVU1TOHIzeFpneVlxZitMbkxzY0VUZGtrQUorKytjQWhYR2dPS2VjVmRnPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=","server":"https://api.b07e82e.kyma.ondemand.com"},"name":"garden-kyma--b07e82e-external"}],"contexts":[{"context":{"cluster":"garden-kyma--b07e82e-external","user":"garden-kyma--b07e82e-external"},"name":"garden-kyma--b07e82e-external"}],"current-context":"garden-kyma--b07e82e-external","kind":"Config","users":[{"name":"garden-kyma--b07e82e-external","user":{"exec":{"apiVersion":"client.authentication.k8s.io/v1","args":["-c","set -e -o pipefail\nOIDC_URL_WITH_AUDIENCE=\"$ACTIONS_ID_TOKEN_REQUEST_URL\u0026audience=gh-teched-67debbc5-8d77-41ca-acba-7443e0a413ba-${{ github.event.inputs.NAMESPACE }}\"\nIDTOKEN=$(curl -sS \\\n  -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \\\n  -H \"Accept: application/json; api-version=2.0\" \\\n  \"$OIDC_URL_WITH_AUDIENCE\" | jq -r .value)\n# Print decoded token information for debugging purposes\necho ::debug:: JWT content: \"$(echo \"$IDTOKEN\" | jq -c -R 'split(\".\") | .[1] | @base64d | fromjson')\" \u003e\u00262\nEXP_TS=$(echo $IDTOKEN | jq -R 'split(\".\") | .[1] | @base64d | fromjson | .exp')\nEXP_DATE=$(date -d @$EXP_TS --iso-8601=seconds)\n# return token back to the credential plugin\ncat \u003c\u003c EOF\n{\n  \"apiVersion\": \"client.authentication.k8s.io/v1\",\n  \"kind\": \"ExecCredential\",\n  \"status\": {\n    \"token\": \"$IDTOKEN\",\n    \"expirationTimestamp\": \"$EXP_DATE\"\n  }\n}\nEOF\n"],"command":"bash","interactiveMode":"Never"}}}]}
        "method": "kubeconfig"
    - "name": "check permissions"
      "run": |
        echo "checking namespace $NAMESPACE permissions..."
        kubectl auth can-i --list --namespace $NAMESPACE
        kubectl auth can-i get gateways --namespace $NAMESPACE
        kubectl auth can-i create apirules --namespace $NAMESPACE
        echo "can access kyma-system gateway?"
        kubectl auth can-i get gateways -n kyma-system
        echo "can access all other gateways in the cluster?"
        kubectl auth can-i get gateways -A
        echo "display all gateways in the cluster"
        kubectl get gateways -A
        echo "display all pods and secrets in the namespace"
        kubectl get pod -n $NAMESPACE
        kubectl get secrets -n $NAMESPACE
    - "name": "check api-resources"
      "run": |
        kubectl api-resources -o wide -n $NAMESPACE
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName '
        kubectl get dnsentries -A  -o json | jq -n  'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis"))'
    - "name": "kyma cli 3.2.0"
      id: HTTPBIN_URL
      "run": |
        echo "Installing kyma cli..."
        curl -sSL "https://github.com/kyma-project/cli/releases/download/3.2.0/kyma_Linux_x86_64.tar.gz" |  tar -xzv kyma
        ./kyma --help
        ./kyma alpha --help
        ./kyma alpha kubeconfig generate --help

        echo "Generate kyma-cli-sa"
        TOKEN=$(kubectl create token $NAMESPACE-sa -n $NAMESPACE)
        ./kyma alpha kubeconfig generate --token $TOKEN  --namespace $NAMESPACE > $NAMESPACE-sa.yaml

        echo "List of pods with  kyma-cli-sa"
        cat ./$NAMESPACE-sa.yaml
        kubectl get pods -n $NAMESPACE --kubeconfig ./$NAMESPACE-sa.yaml

        echo "deploy a docker image and expose it via an API Rule v2"
        kubectl delete all -l app.kubernetes.io/name=httpbin-$NAMESPACE -n $NAMESPACE
        HOSTNAME=$(./kyma app push --name httpbin-$NAMESPACE --image kennethreitz/httpbin --istio-inject true --expose --quiet --container-port 80 --namespace $NAMESPACE )
        HTTPBIN_URL=https://$HOSTNAME
        echo -e "$HTTPBIN_URL\n"

        echo -e "\nAdding APIRules to other custom domains\n"
        HOSTNAME=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("httpbin-\($namespace)")' )

        kubectl get apirules -ojson -n $NAMESPACE  | jq '.items[] '  | jq 'del(.metadata["annotations","labels","creationTimestamp","resourceVersion","uid", "selfLink", "ownerReferences", "generation"], .status)' |  jq --arg namespace "$NAMESPACE" '.metadata |= . + {"name": "httpbin-\($namespace)-01" }' | jq --arg hostname "$HOSTNAME" '.spec |= . + {"gateway": "aws-route53-dns/quovadis-aws-route53-dns-gateway", "hosts": ["\($hostname)"] } ' | kubectl apply -n $NAMESPACE -f -
        HTTPBIN_URL=$(kubectl get dnsentries -A  -o json | jq -n -r --arg namespace "$NAMESPACE" 'inputs | .items[].spec.dnsName  | select(contains("btp-quovadis")) | select(contains("kyma.dev.sap")) | split("*") | join("https://httpbin-\($namespace)")' )
        echo -e "Additionally, httpbin-$NAMESPACE app has been made available under the custom domain at:\n$HTTPBIN_URL"
        echo "HTTPBIN_URL=$HTTPBIN_URL" >> $GITHUB_OUTPUT

    - "name": "Simulate load on httpbin app in a given namespace"
      "run": |
        echo "Get the HTTPBIN APP Hostname"
        # TODO: use dynamic namespace from previous exercises
        # export HTTPBIN_HOST=$(kubectl get virtualservices.networking.istio.io -l apirule.gateway.kyma-project.io/v1beta1=httpbin-app.default -ojsonpath='{.items[0].spec.hosts[0]}')
        # echo "Simulate some traffic to the HTTPBIN APP deployed on Kyma runtime under hostname ${HTTPBIN_HOST}"
        # for f in {1..10}; do curl https://${HTTPBIN_HOST}/headers; done

        for f in {1..10}; do curl ${{ steps.HTTPBIN_URL.outputs.HTTPBIN_URL }}/headers; done
        echo -e "You can now check the logs, metrics and traces in SAP Cloud Logging:\nhttps://url.sap/rw43o5"


"name": "xp264-050-67debbc5-8d77-41ca-acba-7443e0a413ba-xp264"
"on":
  "workflow_dispatch":
    "inputs":
      "NAMESPACE":
        "default": "xp264-050"
        "description": "students namespace"
        "options":
        - "xp264-001"
        - "xp264-002"
        - "xp264-003"
        - "xp264-004"
        - "xp264-005"
        - "xp264-006"
        - "xp264-007"
        - "xp264-008"
        - "xp264-009"
        - "xp264-010"
        - "xp264-011"
        - "xp264-012"
        - "xp264-013"
        - "xp264-014"
        - "xp264-015"
        - "xp264-016"
        - "xp264-017"
        - "xp264-018"
        - "xp264-019"
        - "xp264-020"
        - "xp264-021"
        - "xp264-022"
        - "xp264-023"
        - "xp264-024"
        - "xp264-025"
        - "xp264-026"
        - "xp264-027"
        - "xp264-028"
        - "xp264-029"
        - "xp264-030"
        - "xp264-031"
        - "xp264-032"
        - "xp264-033"
        - "xp264-034"
        - "xp264-035"
        - "xp264-036"
        - "xp264-037"
        - "xp264-038"
        - "xp264-039"
        - "xp264-040"
        - "xp264-041"
        - "xp264-042"
        - "xp264-043"
        - "xp264-044"
        - "xp264-045"
        - "xp264-046"
        - "xp264-047"
        - "xp264-048"
        - "xp264-049"
        - "xp264-050"
        "required": true
        "type": "choice"
"permissions":
  "contents": "read"
  "id-token": "write"
